In [3]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [4]:
def find_nearest(group, match, groupname):
    match = match[match[groupname] == group.name]
    nbrs = NearestNeighbors(1).fit(match['Date'].values[:, None])
    dist, ind = nbrs.kneighbors(group['Date'].values[:, None])

    group['Date1'] = group['Date']
    group['Date'] = match['Date'].values[ind.ravel()]
    return group

In [23]:
df1 = pd.read_csv("shoes.csv")
df2 = pd.read_csv("gtrends.csv")

In [25]:
df1.head()

,Unnamed: 0,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,date_diff,valAdd,avgGains,diffDummy
0,1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,0.936986,877.0,425.445242,-53
1,2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,0.772603,465.0,273.573501,-221
2,3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,0.772603,470.0,276.515152,-389
3,4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,0.772603,855.0,503.022244,-557
4,5,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,0.553425,608.0,499.369937,-725

In [15]:
df2.head()

,Week,Drake: (United States),Kanye West: (United States),Adidas Yeezy: (United States),Off-White: (United States)
0,8/27/2017,10,8,7,3
1,9/3/2017,9,6,7,3
2,9/10/2017,9,6,6,3
3,9/17/2017,10,9,6,3
4,9/24/2017,10,10,6,3

In [28]:
df1['Order Date'] = pd.to_datetime(df1['Order Date'])

In [29]:
df1.dtypes

Unnamed: 0               int64
Order Date      datetime64[ns]
Brand                   object
Sneaker Name            object
Sale Price             float64
Retail Price             int64
Release Date            object
Shoe Size              float64
Buyer Region            object
date_diff              float64
valAdd                 float64
avgGains               float64
diffDummy                int64
dtype: object

In [30]:
df2['Week'] = pd.to_datetime(df2['Week'])

In [31]:
df2.dtypes

Week                             datetime64[ns]
Drake: (United States)                    int64
Kanye West: (United States)               int64
Adidas Yeezy: (United States)             int64
Off-White: (United States)                int64
dtype: object

In [32]:
df1 = df1.set_index("Order Date")

In [33]:
df2 = df2.set_index("Week")

In [36]:
df3 = df2.reindex(df1.index, method='nearest')

In [38]:
df3.head()

,Drake: (United States),Kanye West: (United States),Adidas Yeezy: (United States),Off-White: (United States)
Order Date,,,,
2017-09-01,9,6,7,3
2017-09-01,9,6,7,3
2017-09-01,9,6,7,3
2017-09-01,9,6,7,3
2017-09-01,9,6,7,3

In [39]:
df4 = pd.concat([df1, df3], axis=1)

In [40]:
df4.head()

,Unnamed: 0,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,date_diff,valAdd,avgGains,diffDummy,Drake: (United States),Kanye West: (United States),Adidas Yeezy: (United States),Off-White: (United States)
Order Date,,,,,,,,,,,,,,,,
2017-09-01,1,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,0.936986,877.0,425.445242,-53,9,6,7,3
2017-09-01,2,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,0.772603,465.0,273.573501,-221,9,6,7,3
2017-09-01,3,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,0.772603,470.0,276.515152,-389,9,6,7,3
2017-09-01,4,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,0.772603,855.0,503.022244,-557,9,6,7,3
2017-09-01,5,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,0.553425,608.0,499.369937,-725,9,6,7,3

In [41]:
pd.write_csv("raw-shoe-trends.csv")

AttributeError: module 'pandas' has no attribute 'write_csv'